<ion-header id="Encabezado">
    <ion-toolbar>
      <ion-title class="tituloEncabezado"> Clima a Tiempo </ion-title>
    </ion-toolbar>

    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no"/>

    <link rel="stylesheet" href="https://tiles.locationiq.com/v3/libs/maplibre-gl/1.15.2/maplibre-gl.css"/>
    <script src="https://tiles.locationiq.com/v3/libs/maplibre-gl/1.15.2/maplibre-gl.js"></script>

    <link rel="stylesheet" href="https://tiles.locationiq.com/v3/css/liq-styles-ctrl-libre-gl.css?v=0.1.8"/>
    <script src="https://tiles.locationiq.com/v3/js/liq-styles-ctrl-libre-gl.js?v=0.1.8"></script>

    <link rel="stylesheet" href="https://tiles.locationiq.com/v3/libs/gl-geocoder/4.5.1/locationiq-gl-geocoder.css?v=0.2.3" type="text/css"/>
    <script src="https://tiles.locationiq.com/v3/libs/gl-geocoder/4.5.1/locationiq-gl-geocoder.min.js?v=0.2.3"></script>
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card>
        <ion-card-content>
            <div id="mapa">
                <ion-label>Mapa no cargado</ion-label> <!--Contendrá el mapa-->
            </div>
            <div id="cuadroCoordenadas" class="coordenadasEstetica">
                <!--Contendrá el cuadro con coordenadas/oculto hasta obtener coordenadas-->
            </div>        
        </ion-card-content>
    </ion-card>
</ion-content>