<ion-menu id="menuMapa" contentId="EncabezadoMapa" side="end">
    <ion-toolbar>
        <ion-header>
            <ion-title>Opciones</ion-title>
        </ion-header>
    </ion-toolbar>
    <ion-content class="ion-padding">
      Seleccione una opción.
      <div style="margin-top: 5px;"></div> <!--Espaciado-->
      <!--Botón para Cambiar de Celsius a Farenheite y viceversa-->
      <ion-button fill="outline" (click)="sistemaMetrico(); cerrarMenu();" style="--border-radius: 40px; width: 100%; --border-color: #ffffff; --color:#ffffff;">
        <ion-icon slot="start" name="partly-sunny"></ion-icon>
        {{ btnNom }}
      </ion-button>
      <div style="margin-top: 5px;"></div> <!--Espaciado-->
      <!--Botón para cerrar sesión en la aplicación-->
      <ion-button fill="outline" (click)="cerrarMenu(); cerrarSesion();" style="--border-radius: 40px; width: 100%; --border-color: #ffffff; --color:#ffffff;">
        <ion-icon slot="start" name="log-out"></ion-icon>
        Cerrar sesión
      </ion-button>
    </ion-content>
</ion-menu>

<ion-header id="EncabezadoMapa">
    <ion-toolbar>
        <ion-title class="tituloEncabezado"> Clima a Tiempo </ion-title>
        <ion-buttons slot="end"> <!--"slot" es la posición del botón en la pantalla-->
          <ion-menu-button auto-hide="false"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <link rel="stylesheet" href="https://tiles.locationiq.com/v3/libs/maplibre-gl/1.15.2/maplibre-gl.css"/>
    <link rel="stylesheet" href="https://tiles.locationiq.com/v3/css/liq-styles-ctrl-libre-gl.css?v=0.1.8"/>
    <link rel="stylesheet" href="https://tiles.locationiq.com/v3/libs/gl-geocoder/4.5.1/locationiq-gl-geocoder.css?v=0.2.3" type="text/css"/>
    
    <div id="mapa">
        <!--Contendrá el mapa-->
    </div>

    <!--Invisible hasta hacer clic en el mapa-->
    <div id="cuadroClima" class="climaEstetica">
        <ion-toolbar *ngIf="climaActual">
            <ion-label>
                <ion-icon name="location"></ion-icon>
                {{direccion}}
                <ion-row> <!--Fecha-->
                    <ion-icon name="time"></ion-icon>
                    {{(climaActual.dt * 1000 - (3 * 60 * 60 * 1000)) | date:'EEE, dd MMM. HH:mm':'UTC':'es' | titlecase}}
                </ion-row>
                <ion-row> <!--Descripción-->
                    <ion-icon name="{{icono}}"></ion-icon>
                    {{climaActual.weather[0].description.charAt(0).toUpperCase() + climaActual.weather[0].description.slice(1).toLowerCase()}}
                </ion-row>
            </ion-label>
            <ion-segment [(ngModel)]="segmento"> <!--Pestañas-->
              <ion-segment-button value="temperatura">
                <ion-icon name="thermometer" size="small"></ion-icon>
                Temp
              </ion-segment-button>
              <ion-segment-button value="humedad">
                <ion-icon name="umbrella" size="small"></ion-icon>
                Humedad
              </ion-segment-button>
              <ion-segment-button value="viento">
                <ion-icon name="leaf" size="small"></ion-icon>
                Viento
              </ion-segment-button>
            </ion-segment>
        </ion-toolbar>

        <ion-toolbar *ngIf="climaActual&&segmento===temperatura">
            <ion-label style="margin-left: 9px;">
                ACT: {{climaActual.main.temp}}{{sm}} | MAX: {{climaActual.main.temp_max}}{{sm}} | MIN: {{climaActual.main.temp_min}}{{sm}}
            </ion-label>
        </ion-toolbar>

        <ion-toolbar *ngIf="climaActual&&segmento===humedad">
            <ion-label style="margin-left: 115px;">Humedad: {{climaActual.main.humidity}}%</ion-label>
        </ion-toolbar>

        <ion-toolbar *ngIf="climaActual&&segmento===viento">
            <ion-label style="margin-left: 108px;">Viento: {{climaActual.wind.speed}} {{velocidad}}</ion-label>
        </ion-toolbar>
    </div>
</ion-content>