ion-content {
  --background: transparent; /* Hace que el fondo del ion-content sea transparente */
}

ion-content {
  padding: 0; /* Elimina cualquier relleno en el ion-content */
}

.imagen-fullscreen {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen para cubrir el área manteniendo la relación de aspecto */
}

.btnIniciar {
  position: absolute; top: 86%; left: 50%; transform: translate(-50%, -50%);
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-transform: none;
  font-size: 28px;
  color: #362A84;
  width: 255px;
  height: 60px;
  opacity: 0;
}